 /*-----------Gallery CSS---------*/

  main h1 {
    font-size: 30px;
    font-family: 'Libre Franklin', serif;
    color: #373232;
    padding: .3rem;
    text-align: center;
    text-shadow: 2px 1px rgba(190, 191, 195, 0.53)   
}

div.gallery {
    margin: 1%;
	padding: 0 2% 4% 2%;
  	grid-template-columns: repeat(1, 100%);
    display: grid;
}

div.gallery figure {
    margin: 1rem 0; 
    }

div.gallery figure img {
    width: 100%;
    border: none;
}

div.gallery figure figcaption {
    text-align: center;
    font-size: .9rem;
    font-weight: bold;
}

  @media only screen and (min-width:500px) {
      
    div.gallery {
        grid-template-columns: repeat(2, auto);
        grid-gap:2%;
  } 
}

@media only screen and (min-width:900px) {
    
div.gallery {
    grid-template-columns: repeat(3, auto);
}

div.gallery figure:hover {
  box-shadow: 3px 3px 6px rgba(0,0,0,0.4);
}
}